:root {
  // Colors

  /// Primary

  --color-primary: hsl(171, 66%, 44%);
  --color-secondary: hsl(233, 100%, 69%);

  /// Neutral

  --color-grey-dark: hsl(210, 10%, 33%);
  --color-grey: hsl(201, 11%, 66%);
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Bai Jamjuree", sans-serif;
}
